{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <div class="content-center">
        <main>
            <div>
                <!-- Logo en el BODY --> 
                 <div class="home-logo"> <img src="/logo-nemixa.png" alt="Nemixa" style="height: 140px;margin-left: 1rem;margin-right: 1rem;padding: 1.5rem;"></div>

                {{ partial "subtitle.html" . }}

                {{- with .Site.Params.social }}
                    <div>
                        {{ partial "social-icons.html" . }}
                    </div>
                {{- end }}
            </div>
        </main>
    </div>
{{ end }}
